/* ComingSoon.css */
.coming-soon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f9f9f9;
    color: #333;
  }
  
  .coming-soon-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .coming-soon-container p {
    font-size: 1.2rem;
  }
  